<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" title="Code Inside Hub" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/Images/logo_ci_hub.png"/>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        
        <footer>
            <div class="text-center center-block">
                <p>-  <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons</a> @DateTime.Now.Year Code Inside Team -</p>
                <br>
                <a title="Like us on Facebook" href="https://www.facebook.com/codeinsideblog"><i class="fa fa-facebook"></i></a>
                <a title="Follow us on Twitter" href="https://twitter.com/codeinsideblog"><i class="fa fa-twitter"></i></a>
                <a title="Fork and send us Pull Requests on GitHub" href="https://github.com/code-inside"><i class="fa fa-github"></i></a>
                <a title="Subscribe our Feed" href="http://blog.codeinside.eu/feed"><i class="fa fa-rss"></i></a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
